/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/.config
*.depend
*.o
*.orig
*~
Makefile
Makefile.in
aclocal.m4
/autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
/src/.deps
src/Makefile
src/Makefile.in
src/glearning
src/log
stamp-h1
